* {
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 1280px;
}

/* header styling */
header {
    padding: 16px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;

    /* drop shadow */
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

#header-container {
    min-width: 1280px;
    margin: auto;
    padding: 0px 64px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

#header-logo {
    height: 60px;
}

#header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-links a {
    margin: 0px 12px;
    color: black;
    font-size: 18px;
}

.homename {
	font-size: 64px;
}

/* banner image styling */
.banner-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/clinic1.jpg);

    width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
}

.dentists-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/dentists.jpg);

    width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.dentists-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
}

.contact-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/contactus2.jpg);
    width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.contact-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
}

/* table styling */
.table-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 90px auto 0px auto;
}

.table-img {
	background-image: url(../images/tablebg.jpg);

    width: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.table-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: black;
}

table {
    margin: auto;
    width: 600px;
    border-radius: 10px;
    border: 3px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(24, 24, 35, 0.2) 0px 5px 15px;
}



tr, td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
   
    border-color: #7aa6e1;
  }

table td:last-child {
    border-right: none;
    
    
}

table tr:last-child td{
    border-bottom: none;   
}

tr:nth-child(odd) {
    background-color: #b7daf4;
    
  }


/* page content styling */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 90px auto 0px auto;
}

.container {
    min-width: 1280px;
    display: flex;
    margin: 90px auto 0px auto;
    padding: 64px;
}

.row {
    display: flex;
    flex-direction: row;
  
}


.col {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    border-left: 1px solid grey;
    height: 80px;
    margin: 0px 24px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

/*buttons*/
.btn-pri {
    color: white;
    background-color: #537FE7;
    border: 2px solid #537FE7;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-outline {
    color: #181823;
    border: 2px solid #181823;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-outline:hover {
    background-color: #537FE7;
    color: white;
}

/* header login btn*/
.btn-login {
    padding: 8px 16px;
    border: 2px solid #537FE7;
}

.btn-login:hover {
    border: 2px solid #181823;
}

/* Book appt button */
.btn-book {
    margin-bottom: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 2px solid rgba(24, 24, 35, 0.1);
    font-size: 18px;
}

.btn-book:hover {
    margin-bottom: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* form submit buttons */
.btn-submit {
    background-color: transparent;
}

/* footer styling */
footer {
    width: 100%;
    background-color: #D7F7FF;
    color: #181823;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px 0px 24px 0px;
    margin: auto;
    border-top: 1px solid rgba(24, 24, 35, 0.1);
    
}

hr {
    margin: 32px auto;
    border-top: 1px solid rgba(83, 127, 231, 0.4);
}

/* contact us page styling */
.contact-us {
    margin: 56px 0;
}

#leftcolumn {
    margin-left: -300px;
    float: left;
    width: 800px;
}

#rightcolumn {
    margin-left: 600px;
    text-align: left;
   
}

#location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* login page styling*/
.login-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px auto 0px auto;
}

#login-left {
    width: 50%;
    height: 800px;
    background-image: url(../images/sample.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#login-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}


.acct-radio-grp {
    width: fit-content;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 8px 0px 16px;
}

.acct-radio-grp label {
    width: 112px;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.acct-radio-grp label:last-of-type {
    border-right: 0;
}

.acct-radio-grp label:hover {
    background: #eee;
}

.acct-radio-grp input:checked + label {
    background: #becbff;
}

.form-input {
    margin: 8px 0px 16px;
}

#loginForm {
    width: 300px;
    margin-top: 16px;
}

#loginForm input {
    width: 98%;
}

#loginForm #btnSubmit {
    width: 100%;
    margin-top: 16px;
    border: 2px solid #537FE7;
}

#loginForm #btnSubmit:hover {
    border: 2px solid #181823;
}

#btn-create {
    width: 249px;
    margin-top: 16px;
    text-align: center;
}

/* dashboard page styling*/
.acct-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/appointment.jpg);
}

.dashboard {
	padding: 40px 64px;
}

.schdl-card {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    margin-bottom: 24px;
    background-color: #A5D3F0;
    border-radius: 8px;
    border: 1px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.no-schdl-card {
    background-color: #A5D3F0;
    padding: 16px 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* book appointment page styling */
.appt {
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/appointment.jpg);}

#appt-form {
    width: 800px;
}

.appt-form-container {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: center;
	margin: auto;
    padding: 0px 64px;
    background-color: whitesmoke;
    border-radius: 24px;
    border: 2px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(24, 24, 35, 0.2) 0px 5px 15px;
}

.appt-form-step {
    padding-bottom: 16px;
}

.appt-form-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.appt-form-submit {
    display: flex;
    justify-content: center;
    padding: 30px 0px;

}

/* radio buttons styling */
.radio {
	display: none;
}

.radio-label-dentist {
	padding: 12px 32px;
	background-color: #b5d4f5;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.radio-label {
    margin: 0px 12px;
	padding: 12px 24px;
	background-color: #b5d4f5;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

#dr1:checked ~ .label-1,
#dr2:checked ~ .label-2,
#dr3:checked ~ .label-3 {
	background-color: #0069d9;
}

#timeslot1:checked ~ .label-1,
#timeslot2:checked ~ .label-2,
#timeslot3:checked ~ .label-3,
#timeslot4:checked ~ .label-4,
#timeslot5:checked ~ .label-5,
#timeslot6:checked ~ .label-6,
#timeslot7:checked ~ .label-7,
#timeslot8:checked ~ .label-8,
#timeslot9:checked ~ .label-9 {
	background-color: #0069d9;
}

.timeslot {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#timeslot-col {
    display: none;
}

.time-row {
    margin-bottom: 16px;
}

#date, #newDate {
    width: 200px;
    font-size: 16px;
}

select {
    width: 200px;
    font-size: 16px;
}

/* reschedule appt page styling */
#reschForm {
    width: 800px;
    padding-top: 24px;
}

#resch-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
}

.resch-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    width: 240px;
    padding: 10px 40px;
    margin: 0px 20px;
    background-color: #b7daf4;
    border-radius: 8px;
    border: 1px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px, rgba(0, 0, 0, 0.23) 0px 3px 8px;
}

.resch-card h3 {
    margin-bottom: 4px;
    text-decoration: underline;
}

/* Confirmation Page Styling */
.appt-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 400px;
    margin: auto;
    background-color: #b7daf4;
    border-radius: 8px;
    border: 1px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px, rgba(0, 0, 0, 0.23) 0px 3px 8px;
}

#cfm-page-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

/* custom styles */
.column {
	display: flex;
	flex-direction: column;
	width: 300px;
	
}

.column1 {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: -70px;
    margin-right: -350px;
    padding-top: 100px;
    
}

.column3 {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: -210px;
    margin-right: -200px;
    padding-top: 100px;
}

/* dentist page styling*/
.col-dentist {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 60px;
}

.dentist-subtitle {
	margin-top: 12px;
}

/* dentist page collapsible*/
.collapsible {
    background-color: white;
    color: #0069d9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #b7daf4;
}
  
.collapsecontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e2ebf5;
}

.table-col__one {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.table-col__two {
    padding: 20px;
}

.table-col__three {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    
    
}

/* formatting for text boxes in contact us */
.form-row__one  {
    margin: 10px;
}

.form-col__two small {
    margin: 0px;
   
    color: red;
}

.icons {
    display: flex;
    align: center;
    
}


ul {
    margin-top: 0px;
    padding-left: 26px;
    list-style-image: url(../images/phone.png);
    /* image from <a href="https://www.flaticon.com/free-icons/phone" title="phone icons">Phone icons created by Prosymbols - Flaticon</a> */
}



ol {
    margin-top: 0px;
    padding-left: 26px;
    list-style-image: url(../images/email.png);
    /* image from <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a> */
}

/* dropdown style */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -60px;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }