body {
    margin: 0px;
    padding: 0px;
    min-width: 1280px;
}

/* header styling */
header {
    padding: 16px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;

    /* drop shadow */
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

#header-container {
    min-width: 1280px;
    margin: auto;
    padding: 0px 64px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

#header-logo {
    height: 60px;
}

#header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-links a {
    margin: 0px 12px;
    color: black;
    font-size: 18px;
}

.homename {
	font-size: 64px;
}

/* banner image styling */
.banner-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url(../images/clinic1.jpg);

    width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
}

/* page content styling */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 90px auto 0px auto;
}

.container {
    min-width: 1280px;
    display: flex;
    margin: 90px auto 0px auto;
    padding: 64px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    border-left: 1px solid grey;
    height: 80px;
    margin: 0px 24px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

/*buttons*/
.btn-pri {
    color: white;
    background-color: #486284;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-outline {
    color: #486284;
    border: 2px solid #486284;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-outline:hover {
    background-color: #486284;
    color: white;
}

/* form submit buttons */
.btn-submit {
    background-color: transparent;
}

/* footer styling */
footer {
    width: 100%;
    background-color: #FFB890;
    color: black;
    text-align: center;
    padding: 40px 0px 24px 0px;
    margin: auto;
}

/* contact us page styling */
.contact-us {
    margin: 56px 0;
}

#leftcolumn {
    margin-left: -300px;
    float: left;
    width: 800px;
}

#rightcolumn {
    margin-left: 700px;
    text-align: left;
   
}

#location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* login page styling*/
.login-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

#login-left {
    width: 50%;
    height: 800px;
    background-image: url(../images/sample.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#login-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.acct-radio-grp {
    width: fit-content;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 8px 0px 16px;
}

.acct-radio-grp label {
    width: 112px;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.acct-radio-grp label:last-of-type {
    border-right: 0;
}

.acct-radio-grp label:hover {
    background: #eee;
}

.acct-radio-grp input:checked + label {
    background: #becbff;
}

.form-input {
    margin: 8px 0px 16px;
}

#loginForm #btnSubmit {
    width: 100%;
    margin-top: 16px;
}

#btn-create {
    width: 242px;
    margin-top: 16px;
    text-align: center;
}

/* dashboard page styling*/
.acct-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dashboard {
	padding: 40px 64px;
}

.schdl-card {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    margin-bottom: 16px;
    background-color: peachpuff;
    border-radius: 8px;
}

.no-schdl-card {
    background-color: peachpuff;
    padding: 16px 40px;
    border-radius: 8px;
}

/* book appointment page styling */
.appt {
    flex-direction: column;
    justify-content: flex-start;
	background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

#appt-form {
    width: 800px;
}

.appt-form-container {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: center;
	margin: auto;
    padding: 0px 64px;
    background-color: whitesmoke;
    border-radius: 24px;
    border: 2px solid rgba(24, 24, 35, 0.1);
    box-shadow: rgba(24, 24, 35, 0.2) 0px 5px 15px;
}

.appt-form-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.appt-form-submit {
    display: flex;
    justify-content: center;
    padding: 30px 0px;

}

/* radio buttons styling */
.radio {
	display: none;
}

.radio-label-dentist {
	padding: 12px 32px;
	background-color: #b5d4f5;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.radio-label {
    margin: 0px 12px;
	padding: 12px 24px;
	background-color: #b5d4f5;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

#dr1:checked ~ .label-1,
#dr2:checked ~ .label-2,
#dr3:checked ~ .label-3 {
	background-color: #0069d9;
}

#timeslot1:checked ~ .label-1,
#timeslot2:checked ~ .label-2,
#timeslot3:checked ~ .label-3,
#timeslot4:checked ~ .label-4,
#timeslot5:checked ~ .label-5,
#timeslot6:checked ~ .label-6,
#timeslot7:checked ~ .label-7,
#timeslot8:checked ~ .label-8,
#timeslot9:checked ~ .label-9 {
	background-color: #0069d9;
}

.timeslot {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#timeslot-col {
    display: none;
}

.time-row {
    margin-bottom: 16px;
}

#date, #newDate {
    width: 200px;
    font-size: 16px;
}

select {
    width: 200px;
    font-size: 16px;
}

/* reschedule appt page styling */
#reschForm {
    width: 800px;
}

.appt-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 400px;
    margin: auto;
    background-color: blanchedalmond;
}

/* Confirmation Page Styling */
#cfm-page-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

/* custom styles */
.column {
	display: flex;
	flex-direction: column;
	width: 300px;
	
}

.column1 {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: -70px;
    margin-right: -350px;
    padding-top: 100px;
    
}

.column3 {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: -210px;
    margin-right: -200px;
    padding-top: 100px;
}

/* dentist page styling*/
.col-dentist {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 100px;
}

.dentist-subtitle {
	margin-top: 12px;
}

table {
    margin: auto;
   
    width: 600px;
    border-spacing: 1;
}

.table-col__one {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.table-col__two {
    padding: 20px;
}

.table-col__three {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    
    
}

/* formatting for text boxes in contact us */
.form-row__one  {
    margin: 10px;
}

.form-col__two small {
    margin: 0px;
   
    color: red;
}

.icons {
    display: flex;
    align: center;
    
}


ul {
    margin-top: 0px;
    padding-left: 26px;
    list-style-image: url(../images/phone.png);
    /* image from <a href="https://www.flaticon.com/free-icons/phone" title="phone icons">Phone icons created by Prosymbols - Flaticon</a> */
}



ol {
    margin-top: 0px;
    padding-left: 26px;
    list-style-image: url(../images/email.png);
    /* image from <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a> */
}