body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #E7E0AB;
}

header {
    background-color: #D1B38E;
    padding: 10px 0px;
}

header img {
    display: block;
    margin: 0px auto;
}

#wrapper {
    background-color: #E2D1B2;
    box-shadow: 6px 6px 6px;
    width: 80%;
    min-width: 800px;
    margin: auto;
}

/* Left side nav bar */
#leftcolumn {
    float: left;
    width: 150px;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    margin: 30px;
    text-decoration: none;
}

nav a:link {
    color: #7F563A;
}

nav a:visited {
    color: #A38265;
}

/* Right side content container */
#rightcolumn {
    margin-left: 155px;
    background-color: #F5F4DC;
}

.content {
    padding: 20px 20px 30px 20px;
    color: #45200C;
}

#content__container {
    display: flex;
}

#imgroad {
    margin: 0px 40px;
}

ul {
    margin-top: 0px;
    padding-left: 26px;
    list-style-image: url(coffee.png);
    /* image from https://www.flaticon.com/free-icon/coffee_996289?term=coffee+cup&page=1&position=27&origin=tag&related_id=996289 */
}

li {
    margin-bottom: 4px;
}

footer {
    background-color: #D1B38E;
    color: #231006;
    text-align: center;
    padding: 20px;
}

footer a:link {
    color: #45200C;
}

/* styles for tables in Menu and Music page*/
table {
    margin: auto;
    border: none;
    width: 600px;
    border-spacing: 1;
}

#music table {
    margin-top: 32px;
}

td {
    border-style: none;
}

#menu td {
    padding: 10px;
}

#menu tr:nth-of-type(odd) {
    background-color: #D1B38E;
}

#music tr:nth-of-type(odd) {
    background-color: #E2D1B2;
}

/* additional styles for Music table only*/
.table-col__one {
    text-align: center;
}

.table-col__two {
    padding: 20px;
}

#img-person1, #img-person2 {
    margin: 20px;
}

/* styles for Jobs page */
form {
    width: 600px;
    padding: 10px 0px;
}

label { 
    float: left; 
    clear: left;
    display: block; 
    width: 120px; 
    text-align: right; 
    padding-right: 30px;
    margin-top: 20px; 
}

.form-row__one  {
    margin-top: 0px;
}

#date {
    width: 150px;
}

input, textarea { 
    margin-top: 20px; 
    display: block;
}